.root{
    -fx-background-color: #202020;
}

.label{
    -fx-padding: 30px 0 0 0;
    -fx-text-fill: white;
    -fx-font-family: "Ink Free";
    -fx-pref-width: 250px;
    -fx-alignment: bottom-left;
    -fx-font-size: 25;
    -fx-pref-height: 45px;
    -fx-background-color: transparent;
}

#title{
    -fx-padding: 0 10 5 0;
    -fx-text-fill: white;
    -fx-font-size: 35;
    -fx-pref-height: 60px;
    -fx-alignment: bottom-right;
    -fx-pref-width: 300;
    -fx-border-color: transparent white white transparent;
}

.text-field{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-pref-width: 250px;
    -fx-pref-height: 45;
    -fx-border-color: white transparent transparent white;
    -fx-border-width: 1;
}

.password-field{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-pref-width: 250px;
    -fx-pref-height: 45;
    -fx-border-color: white transparent transparent white;
    -fx-border-width: 1;
}

.button{
    -fx-background-color: transparent;
    -fx-font-family: "Ink Free";
    -fx-text-fill: #96C7D2;
}

#swap{
    -fx-alignment: top-right;
    -fx-border-color: transparent  white transparent transparent;
    -fx-padding: 0 10 0 0;
    -fx-font-size: 20;
}

#submit{
    -fx-pref-height: 60px;
    -fx-padding: 0 0 5 0;
    -fx-pref-width: 120px;
    -fx-border-color: transparent transparent white transparent;
    -fx-alignment: bottom-center;
    -fx-font-size: 25;
}